<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636439448051-8b4d74t2nh2ujupieqsf8v32b5gdps9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636439448051-8b4d74t2nh2ujupieqsf8v32b5gdps9k</string>
	<key>API_KEY</key>
	<string>AIzaSyA-7CBoSFBfokoHeSPswNdB22uuz9V0e2w</string>
	<key>GCM_SENDER_ID</key>
	<string>636439448051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zaiSystem</string>
	<key>PROJECT_ID</key>
	<string>zai-system-app</string>
	<key>STORAGE_BUCKET</key>
	<string>zai-system-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636439448051:ios:2a62ebee722ae36de1aa86</string>
</dict>
</plist>